main{
    position: relative;
}
h1{
    text-align: center;
    padding: 20px;
}
.game-space{
    margin: 0;
    padding-top: 100px;
    position: relative;
}
.container{
    display: grid;
    position: absolute;
    left: 35.5%;
    border-style: solid;
    height: 540px;
    width: 540px;
}
.div-style{
    
    border-width: 0.1px;
}
.controls-container{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 25px;
}
#clear{}